@import './base.css';

#app {
  max-width: 1180px;
  margin: 0 auto;
  padding: 0 1.25rem;
}

a {
  color: inherit;
  transition: color 0.2s ease, background-color 0.2s ease;
}

@media (hover: hover) {
  a:hover {
    color: var(--color-heading);
  }
}
